WSDL/Service References/ServiceReference/PowerLoadOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:cmp="http://danateq.com/cmp/soap/" name="PowerLoadOperations" targetNamespace="http://danateq.com/cmp/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://danateq.com/cmp/soap/">
      <xsd:complexType name="Offers">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="50" name="Offer" type="cmp:Offer" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Offer">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="OfferID" type="xsd:unsignedLong" />
          <xsd:element minOccurs="1" maxOccurs="1" name="OfferDescr" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="OfferCorrID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="OfferPriority" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="5" name="OfferCategory" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RetailerCommission" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="OptInKeyword" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CampaignID" type="xsd:unsignedLong" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RetailerGetOffersRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="RetailerMSISDN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CustomerMSISDN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RechargeAmount" type="xsd:unsignedInt" />
            <xsd:element minOccurs="1" maxOccurs="1" name="OffersCountLimit" type="xsd:unsignedInt" />
            <xsd:element minOccurs="1" maxOccurs="1" name="TransactionID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RetailerGetOffersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="OperationStatus" type="xsd:unsignedInt" />
            <xsd:element minOccurs="1" maxOccurs="1" name="RecommendedOffers" type="cmp:Offers" />
            <xsd:element minOccurs="1" maxOccurs="1" name="SessionContext" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="TransactionID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="OffersCount" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RetailerOptInRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="RetailerMSISDN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="CustomerMSISDN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="OptInKeyword" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="OfferCorrID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="OfferID" type="xsd:unsignedLong" />
            <xsd:element minOccurs="0" maxOccurs="1" name="CampaignID" type="xsd:unsignedLong" />
            <xsd:element minOccurs="1" maxOccurs="1" name="PIN" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="SessionContext" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="TransactionID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RetailerOptInResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="OperationStatus" type="xsd:unsignedInt" />
            <xsd:element minOccurs="1" maxOccurs="1" name="TransactionID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RetailerGetOffersRequestMsg">
    <wsdl:part name="RetailerGetOffersRequest" element="cmp:RetailerGetOffersRequest" />
  </wsdl:message>
  <wsdl:message name="RetailerGetOffersResponseMsg">
    <wsdl:part name="RetailerGetOffersResponse" element="cmp:RetailerGetOffersResponse" />
  </wsdl:message>
  <wsdl:message name="RetailerOptInRequestMsg">
    <wsdl:part name="RetailerOptInRequest" element="cmp:RetailerOptInRequest" />
  </wsdl:message>
  <wsdl:message name="RetailerOptInResponseMsg">
    <wsdl:part name="RetailerOptInResponse" element="cmp:RetailerOptInResponse" />
  </wsdl:message>
  <wsdl:portType name="RetailerGetOffers">
    <wsdl:operation name="RetailerGetOffers">
      <wsdl:input name="RetailerGetOffersRequest" message="cmp:RetailerGetOffersRequestMsg" />
      <wsdl:output name="RetailerGetOffersResponse" message="cmp:RetailerGetOffersResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RetailerOptIn">
    <wsdl:operation name="RetailerOptIn">
      <wsdl:input name="RetailerOptInRequest" message="cmp:RetailerOptInRequestMsg" />
      <wsdl:output name="RetailerOptInResponse" message="cmp:RetailerOptInResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RetailerGetOffers" type="cmp:RetailerGetOffers">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetailerGetOffers">
      <soap:operation soapAction="http://danateq.com/cmp/soap/RetailerGetOffers" />
      <wsdl:input name="RetailerGetOffersRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RetailerGetOffersResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RetailerOptIn" type="cmp:RetailerOptIn">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetailerOptIn">
      <soap:operation soapAction="http://danateq.com/cmp/soap/RetailerOptIn" />
      <wsdl:input name="RetailerOptInRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RetailerOptInResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>